

<div class="container">
  <form name="quoteForm" #quoteForm="ngForm" (ngSubmit)='submitQuote();quoteForm.reset()' >
    <div class="form-group">
      <label for="quoteText">Quote Text</label>
      <textarea type="text" id="quoteText" class="form-control" rows="1" #quoteText="ngModel" [(ngModel)]="newQuote.quoteText" placeholder="Quote Text"></textarea>

      <div class="form-group">
        <label for="quoteAuthor">Quote Author</label>
        <input type="text" class="form-control" id="quoteAuthor" name="quoteAuthor" #quoteAuthor="ngModel" [(ngModel)]="newQuote.quoteAuthor" placeholder="Quote Author">
      </div>
    </div>

    <button class="btn btn-success" type="submit">Add Quote</button>
  </form>
</div>
