
/* #carousel-caption {
 font-family: 'poppins', sans-serif;
} 

.icon{
  border:none;
  width:5%;
  margin:auto;
  color: white;
}

.carousel-caption{
  font-size: 18px;
}  */

.card{
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-right: 20px;
  border-color:white ;
  box-shadow: 5px, white;
  border-radius: 6px;
  }

/* .add-quote button{
  align-items: center;
}

.carousel-item{
  min-height: 220px;
}

#carouselExampleDark img {
  height: 55vh;
  min-height: 400px;
}  */


.header2{
  text-align: center;
  margin-left: 40px;
  margin-right: 20px;
  padding: 30px;
  font-family: 'Beau Rivage', cursive;
  color: black;
  font-size: 30px;
  letter-spacing: 3px;
}



   