
<!-- <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="3000" *ngFor="let quote of quotes;let i=index">
  <img src="./assets/images/backg4.jpg" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
  <h3>Submitted by : Oluchi</h3>
  <small>{{quote.quoteDate | dateCounter}} </small>
  <hr>
  <button class="icon btn-info" type="button" (click)="toggleQuoteText(i)"><i *ngIf="!quote.showQuoteText" class="fa fa-angle-down"></i><i *ngIf="quote.showQuoteText" class="fa fa-angle-up"></i></button>
  <app-quote-text *ngIf="!quote.showQuoteText" [quote]="quote" (quoteDelete)="quoteDelete($event,i)"></app-quote-text> 
  </div>
  </div>
  <div class="carousel-item" data-bs-interval="3000" *ngFor="let quote of quotes;let i=index;">
  <img src="./assets/images/backg4.jpg" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
  <h3>Submitted by : Oyesa</h3>
  <small>{{quote.quoteDate | dateCounter}} </small>
  <hr>
  <button class="icon btn-info" type="button" (click)="toggleQuoteText(i)"><i *ngIf="!quote.showQuoteText" class="fa fa-angle-down"></i><i *ngIf="quote.showQuoteText" class="fa fa-angle-up"></i></button>
  <app-quote-text  *ngIf="quote.showQuoteText" [quote]="quote" (quoteDelete)="quoteDelete($event,i)"></app-quote-text> 
  </div>
  </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
  </button>
  </div>
  <div class="add-quote">
  <hr>
  </div>
  <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form> -->
  >
  

  <!-- <div class="container-fluid text-center text-light">
    <div class="row">
      <div class="col-sm-9">
        <h3 class="header2"><strong>Quotes to live by</strong></h3>
         <div class="row">
         <div *ngFor="let quote of quotes; let i = index" class="card">
          <div class="card-body">
            <p class="quote-text">{{quote.quoteText}}</p>
            <p class="quote-author">{{quote.quoteAuthor}}</p>
            <p class="quote-submittedby"><span>Submitted by: </span> {{quote.quoteSubmitter}}<span></span></p>
            <p class="card-text"><small class="text-muted"></small>{{quote.quoteDate | dateCounter}}</p>
            <app-quote-text [quote]='quote' (isComplete)='quoteDelete($event,i)'></app-quote-text>
            </div>
          </div>
        </div>
      </div>
    <div>
  </div>
  <app-quotes-form (addQuote)='addNewQuote($event)'></app-quotes-form>
    </div> -->

    <h3 class="header2"><span>&#129496;&#127999;</span>Quotes to live by <span>&#129496;&#127999;</span></h3>
    <div class="container-fluid text-center text-light">
      <div class="container">
          <div class="row">
            <div
             *ngFor='let quote of quotes; let i = index' 
            class="col-md-4 mb-4">
            <div class="card text-light bg-success h-100">
                <div class="card-body">
    
                    <blockquote class="blockquote text-light mb-0">
                        <p>{{quote.quoteText}}</p>
                    
                        <small class="blockquote-footer text-light mt-3"><cite title="Source Title">{{quote.quoteAuthor}} </cite></small>
                        <br>
                        <footer class="footer text-light mt-3">Submitted By: {{quote.quoteSubmitter}}</footer>
                        <footer class="footer text-light mt-3">{{quote.quoteDate | dateCounter}}</footer>
                    </blockquote>
                </div>
                <div class="card-footer text-light">
                    <app-quote-text [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-text> 
                </div>
                </div>
            </div>
            </div>
          </div>
        </div>
        <app-quotes-form (addQuote) = "addNewQuote($event)"></app-quotes-form>
       
