
#carousel-caption {
 font-family: 'poppins', sans-serif;
} 

/* .btn{
  margin: 7px;
  color: white;
} */

/* button{
  background-color: rgba(0, 0, 0, 0.1);
} */

.icon{
  border:none;
  width:5%;
  margin:auto;
  color: white;
}

/* .card-title{
  color: white;
} */
.carousel-caption{
  font-size: 18px;
} 

/* .picsum-img-wrapper{
  height: 80vh;
  width: 100%;
} */

.card{
  background-color: rgba(0, 0, 0, 0.5);
  }

.add-quote button{
  align-items: center;
}

.carousel-item{
  min-height: 220px;
}

#carouselExampleDark img {
  height: 50vh;
  width: 100%;
}


   