
<div class="container-fluid mt-5" style="width: 100%;">
  <ngb-carousel [interval]="3000">
    <ng-template ngbSlide  *ngFor="let quote of quotes; let i=index">
      
      <div class="picsum-img-wrapper">
      </div>
      <div class="carousel-caption">
        <!-- add function to display quote with highest vote -->
        <div class="card-title">
          <h3>Submitted by: Oyesa </h3>
          <small>{{quote.quoteDate | dateCounter}} </small>
        </div>
      </div>
      <div class="picsum-img-wrapper">
      <div class="carousel-caption">
        <div class="card-title">
          <h3>Submitted by: Oluchina </h3>
          <small>{{quote.quoteDate | dateCounter}} </small>
        </div>
      </div>

      <div class="picsum-img-wrapper">
      <div class="carousel-caption">
        <h3>Submitted by: Oluchi </h3>
        <small>{{quote.quoteDate | dateCounter} </small>
      </div>
    </ng-template ngbSlide> 
    </ngb-carousel>

    <div>
      <button *ngIf="!showQuoteForm" (click)="toggleQuoteForm()" class="btn btn-warning"><i class="fa fa-plus-circle fa-lg"></i>Add Quote</button>
      <button *ngIf="!showQuoteForm" (click)="toggleQuoteForm()" class="btn btn-warning"><i class="fa fa-minus-circle fa-lg"></i>Hide</button>
    </div>
    <app-quotes-form *ngIf="showQuoteForm" (quoteAdd)="addQuote($event)"></app-quotes-form> 
</div>

