
.container{
 font-family: 'poppins', sans-serif;
 text-align: center;
 color: white;
} 

.btn{
  margin: 7px;
  color: white;
}

button{
  background-color: rgba(0, 0, 0, 0.1);
}

/* .carousel-caption{
  top: 30%;
}

.picsum-img-wrapper{
  height: 80vh;
  width: 100%;
}

.card{
  background-color: rgba(0, 0, 0, 0.5);
  }

  .card-text{
    color: #000;
    }   */