

<!-- <div class="container">
  <h1 class="text-center"> <i class="fa fa-quote-left fa-sm"></i><strong>Quotes To Live By</strong><i class="fa fa-quote-right fa-sm"></i></h1>
</div> -->
<div class="card-header-tab">
  <img src="./assets/images/backg4H.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title text-center"><i class="fa fa-quote-left fa-sm"></i><strong>Life Quotes</strong><i class="fa fa-quote-right fa-sm"></i></h1>
    <hr>
    <p class="card-text">All things are subject to interpretation. Whichever interpretation prevails at a given time is a function of power and not truth. <br>
      -Friedrich Nietzsche-</p>
    <hr>
  </div>
</div>

